/* Resets */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Base */
body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* Layout */

main {
  width: 100vw;
  height: 100vh;
}

button {
  max-width: 200px;
  margin: 15px;
}

#sideBar {
  grid-area: sideBar;
}

#currentGuess {
  grid-area: currentGuess;
  display: flex;
  flex-direction: column;
}

#pastGuesses {
  grid-area: pastGuesses;
  display: flex;
}

#colorOptions {
  grid-area: colorOptions;
}

main {
  display: grid;
  grid-template-columns: 20vw 70vw 10vw;
  grid-template-rows: auto;
  grid-template-areas: 
    "sideBar currentGuess colorOptions"
    "sideBar pastGuesses colorOptions";
}
